body{
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;/* 100vh significa que a altura inicial 
    do corpo levará 100% da altura do viewport, enquanto o uso 
    de altura mínima em vez de altura permitirá que o elemento 
    do corpo cresça ainda mais se necessário. */

}
.tabela-precos{
    background-color: white;
    border-radius: 10px ;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.preco-plano {
    border-bottom: 1px solid #e1f1ff;
}
.preco-plano:last-child{
    border-bottom: none;
}
 .preco-imagem {
    margin-bottom: 25px;
    max-width: 100%;
 }

 .preco-header {
     color: #888;
     font-weight: 600;
     letter-spacing: 1px;
 }
 .preco-features{
     margin: 50px 0 25px;
     color: #016ff9;
 }

 .preco-features-item {
     font-weight: 600;
     letter-spacing: 1px;
     font-size: 12px;
     line-height: 1.5;
     padding: 15px 0;
     border-top: 1px solid #e1f1ff;
 }
 .preco-features-item:last-child{
  border-bottom: 1px solid #e1f1ff;
 }

.preco-valor {
    color: #016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;


}